@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.flag-container {
    margin: 10px;
}

#flag-img {
    max-width: 100%;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 92%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

button {
    padding: 6px 20px;
    font-size: 17px;
    background-color: #007bff;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}